.map-section {
    background-color: #f7f7f7;
    height: var(--content-height);
    justify-content: center;
}

.mapStyles {
    height: var(--content-height);
    max-width: 100%;
    position: relative;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: dodgerblue;
    border-radius: 50%;
    display: inline-block;
}

div .MuiCircularProgress-root {
    display: flex;
    justify-content: center;
}

.circularProgress {
    margin: auto;
}

div .inputSelect {
    margin-top: .5em;
    margin-bottom: .25em;
}

@media only screen and (min-width: 600px) {
    .map-section {
        height: var(--content-height);
    }
}