.map-section {
    background-color: grey;
    height: var(--content-height);
    justify-content: center;
}

.mapStyles {
    height: var(--content-height);
    max-width: 100%;
    position: relative;
}