.map-section {
    background-color: grey;
    height: calc(var(--content-height) * .8);
    justify-content: center;
}

.mapStyles {
    height: var(--content-height);
    max-width: 100%;
    position: relative;
}

@media only screen and (min-width: 600px) {
    .map-section {
        height: var(--content-height);
    }
}