.store-section {
    height: var(--content-height);
    overflow: auto;
    background-color: #ffffff;
    z-index: 1;
    border-left: 1px solid lightgray;
}

.list-container {
    grid-column: 2 / 3;
}