.reviews-list {
    padding: var(--container-padding);
}

.reviews-list > h4 {
    margin-top: 1.25em;
}

.reviews-list > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Review Input */
.add-new-comment-btn {
    width: 100%;
}

.review-section {
    padding: .5rem 0;
}

.rating-input {
    padding-left: .5rem;
}

.review-input-area {
    width: 100%;
}

