.store-section {
  --star-color: #ffb400;
  --container-padding-v: 1rem;
  --container-padding-h: 15px;
  --container-padding: var(--container-padding-h) var(--container-padding-v);

  grid-column: 1 / -1;
  height: var(--content-height);
  overflow: auto;
  background-color: #ffffff;
  z-index: 1;
  border-left: 1px solid lightgray;
}

.filter-label {
  padding-right: 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.MuiSlider-markLabel {
  color: #333333;
  margin-top: 0.25rem;
}

@media only screen and (min-width: 769px) {
  .store-section {
    grid-column: 5 / -1;
    grid-row: 2 / -1;
  }
}
