.App {
  --content-height: calc(100vh - var(--navbar-height));
  --navbar-height: 50px;

  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: var(--navbar-height) auto;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  grid-column: 1 / -1;
}

.map-section {
  grid-column: 1 / -1;
}

.store-section {
  grid-column: 1 / -1;
}

@media only screen and (min-width: 600px) {
  .map-section {
    grid-column: 1/ 5;
  }

  .store-section {
    grid-column: 5 / -1;
    grid-row: 2 / -1;
  }

}