.map-section {
    background-color: #f7f7f7;
    height: var(--content-height);
    justify-content: center;
    grid-column: 1 / -1;
}

@media only screen and (min-width: 769px) {
    .map-section {
        grid-column: 1/ 5;
    }

}